<footer class="footer">
  <div class="icon-group">
    <div class="icon-container">
      <i class="bi bi-facebook"></i>
    </div>
    <div class="icon-container">
      <i class="bi bi-twitter"></i>
    </div>
    <div class="icon-container">
      <i class="bi bi-instagram"></i>
    </div>
    <div class="icon-container">
      <i class="bi bi-youtube"></i>
    </div>
  </div>

  <div class="contact-info">
    <p>© 2025 WarmHelp. Todos los derechos reservados.</p>
    <p>Contacto: <a href="mailto:soporte@tiendaonline.com">soportewarmhelp.com</a></p>
  </div>
</footer>
