<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo" routerLink="/">
       <img src="/logog.png" alt="Logo WarmHelp" />
    </div>

    <div class="footer-links">
      <div class="link-group">
        <h4>WarmHelp</h4>
        <a routerLink="/tienda">Tienda</a>
        <a routerLink="/chat-gpt">Asistente AI</a>
        <a routerLink="/posts">Publicaciones</a>
      </div>

      <div class="link-group">
        <h4>Mi cuenta</h4>
        <a routerLink="/perfil">Perfil</a>
        <a routerLink="/mis-incidencias">Incidencias</a>
        <a routerLink="/mis-publicaciones">Mis Publicaciones</a>
      </div>

      <div class="link-group">
        <h4>Legal</h4>
        <a href="">Política de privacidad</a>
        <a href="">Términos y condiciones</a>
        <a href="">Cookies</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-socials">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
    <div class="footer-copy">
      <p>© 2025 WarmHelp. Todos los derechos reservados.</p>
      <p>Contacto: <a href="mailto:soporte@warmhelp.com">soportewarmhelp.com</a></p>
    </div>
  </div>
</footer>
